#DailyPhoto{
    max-height: 50vh;
    max-width: 45vw;
}

#title{
    margin-bottom: 2vw;
}

#APOD{
    margin-top: 3vw;
}

#photo-selector{
    margin-top: 4vw;
}

#loading-dots{
    margin-top: 45vh;
}